src/main/resources/wsdl/KPSPublicV2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tckimlik.nvi.gov.tr/WS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tckimlik.nvi.gov.tr/WS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tckimlik.nvi.gov.tr/WS">
      <s:element name="KisiVeCuzdanDogrula">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TCKimlikNo" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="Ad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Soyad" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SoyadYok" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="DogumGun" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="DogumGunYok" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="DogumAy" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="DogumAyYok" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="DogumYil" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="CuzdanSeri" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CuzdanNo" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="TCKKSeriNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KisiVeCuzdanDogrulaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KisiVeCuzdanDogrulaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="KisiVeCuzdanDogrulaSoapIn">
    <wsdl:part name="parameters" element="tns:KisiVeCuzdanDogrula" />
  </wsdl:message>
  <wsdl:message name="KisiVeCuzdanDogrulaSoapOut">
    <wsdl:part name="parameters" element="tns:KisiVeCuzdanDogrulaResponse" />
  </wsdl:message>
  <wsdl:portType name="KPSPublicV2Soap">
    <wsdl:operation name="KisiVeCuzdanDogrula">
      <wsdl:input message="tns:KisiVeCuzdanDogrulaSoapIn" />
      <wsdl:output message="tns:KisiVeCuzdanDogrulaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KPSPublicV2Soap" type="tns:KPSPublicV2Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="KisiVeCuzdanDogrula">
      <soap:operation soapAction="http://tckimlik.nvi.gov.tr/WS/KisiVeCuzdanDogrula" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="KPSPublicV2Soap12" type="tns:KPSPublicV2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="KisiVeCuzdanDogrula">
      <soap12:operation soapAction="http://tckimlik.nvi.gov.tr/WS/KisiVeCuzdanDogrula" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KPSPublicV2">
    <wsdl:port name="KPSPublicV2Soap" binding="tns:KPSPublicV2Soap">
      <soap:address location="https://tckimlik.nvi.gov.tr/Service/KPSPublicV2.asmx" />
    </wsdl:port>
    <wsdl:port name="KPSPublicV2Soap12" binding="tns:KPSPublicV2Soap12">
      <soap12:address location="https://tckimlik.nvi.gov.tr/Service/KPSPublicV2.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>