src/main/resources/wsdl/KPSPublicYabanciDogrula.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tckimlik.nvi.gov.tr/WS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tckimlik.nvi.gov.tr/WS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tckimlik.nvi.gov.tr/WS">
      <s:element name="YabanciKimlikNoDogrula">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KimlikNo" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="Ad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Soyad" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DogumGun" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="DogumAy" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="DogumYil" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="YabanciKimlikNoDogrulaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="YabanciKimlikNoDogrulaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="YabanciKimlikNoDogrulaSoapIn">
    <wsdl:part name="parameters" element="tns:YabanciKimlikNoDogrula" />
  </wsdl:message>
  <wsdl:message name="YabanciKimlikNoDogrulaSoapOut">
    <wsdl:part name="parameters" element="tns:YabanciKimlikNoDogrulaResponse" />
  </wsdl:message>
  <wsdl:portType name="KPSPublicYabanciDogrulaSoap">
    <wsdl:operation name="YabanciKimlikNoDogrula">
      <wsdl:input message="tns:YabanciKimlikNoDogrulaSoapIn" />
      <wsdl:output message="tns:YabanciKimlikNoDogrulaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KPSPublicYabanciDogrulaSoap" type="tns:KPSPublicYabanciDogrulaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="YabanciKimlikNoDogrula">
      <soap:operation soapAction="http://tckimlik.nvi.gov.tr/WS/YabanciKimlikNoDogrula" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="KPSPublicYabanciDogrulaSoap12" type="tns:KPSPublicYabanciDogrulaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="YabanciKimlikNoDogrula">
      <soap12:operation soapAction="http://tckimlik.nvi.gov.tr/WS/YabanciKimlikNoDogrula" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KPSPublicYabanciDogrula">
    <wsdl:port name="KPSPublicYabanciDogrulaSoap" binding="tns:KPSPublicYabanciDogrulaSoap">
      <soap:address location="https://tckimlik.nvi.gov.tr/Service/KPSPublicYabanciDogrula.asmx" />
    </wsdl:port>
    <wsdl:port name="KPSPublicYabanciDogrulaSoap12" binding="tns:KPSPublicYabanciDogrulaSoap12">
      <soap12:address location="https://tckimlik.nvi.gov.tr/Service/KPSPublicYabanciDogrula.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>